.list-overflow-container {
  max-height: 545px;
  border: 1px black solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
  
}

.list-overflow-container li {
  border-radius: 0;
  border: .5px solid black;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
 
}

.list-overflow-container li a {
  color: black;
  font-size: 18.5px;
 
}

.list-overflow-container li:first-child {
  border-top: none;
  
}

.list-overflow-container li:last-child {
  border-bottom: none;

}

.list-group-item {
  margin-bottom: 0;
}
